
.aikiSortedListItem {
  margin: 0;
  padding: 0;
}

.aikiSortedListItem .aikiSortedListItemRemoveButton .dijitButtonNode {
  visibility: hidden;
  width: 20px;
  height: 16px;
  margin: 0 0 0 1em;
  padding: 0;
  border: 1px solid #ccc;
  background-color: transparent;
  background: url(list-remove.png) center center no-repeat;
}

.aikiSortedListItem:hover .aikiSortedListItemRemoveButton .dijitButtonNode {
  visibility: visible;
}
